.search-form {
  left: 0;
  position: absolute;
  top: 60px;
  transform: translateY(-120px);
  transition: transform 200ms;
  width: 100%;
  z-index: 100;

  label {
    display: none;
  }
  input {
    -webkit-appearance: none;
    background: #333;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 60px;
    outline: none;
    padding: 1.125em 44px 1.125em 1em;
    width: 100%;
  }
  button {
    background: none;
    border: none;
    font-size: 0;
    height: 60px;
    line-height: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
  }
}
