$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 15px;
  padding-bottom: 5px;
}

@media (min-width: $screen-sm) {
  .navbar-right {
    margin: 0;
  }
}

pc-map {
  display: block;
  height: 300px;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}
body {
  align-items: flex-start;
  display: flex;
  height: 100%;
  flex-direction: column;
  //justify-content: flex-start;
}
header[role='banner'],
main[role='main'],
footer[role='contentinfo'] {
  width: 100%;
}
main[role='main'] {
  flex: 1;
}

/* Advertisements */
.advertisement {
  background: $gray-lighter;
  color: $gray;
  text-align: center;
}
.advertisement h1 {
  margin: 0;
  padding: 3em 0;
}

/* Footer */
footer[role='contentinfo'] small {
  color: $gray-light;
  display: block;
  padding-top: 1.4rem;
}
