$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 15px;
}

@media (min-width: $screen-sm) {
  .navbar-right {
    margin: 0;
  }
}

pc-map {
  display: block;
  height: 300px;
  width: 100%;
}

/* Layout */

html {
  height: 100%;
  width: 100%;
}
body {
  align-items: flex-start;
  display: flex;
  height: 100%;
  flex-direction: column;
}
header[role='banner'],
main[role='main'],
footer[role='contentinfo'] {
  width: 100%;
}
main[role='main'] {
  flex: 1;
}

/* Advertisements */
.advertisement {
  background: $gray-lighter;
  color: $gray;
  text-align: center;
}
.advertisement h1 {
  margin: 0;
  padding: 3em 0;
}

/* Footer */
footer[role='contentinfo'] {
  background: rgba(255, 255, 255, .5);
  padding: .5rem 0;
  position: relative;
  z-index: 2;
}
footer[role='contentinfo'] small {
  color: $gray-light;
  display: block;
  padding-top: 1.4rem;
}

/* Sortable table */
.table-sortable th {
  color: $gray-light;
  cursor: pointer;

  .caret {
    border-top-color: mix($gray-light, $gray-lighter);
  }

  &.is-active {
    color: $gray-darker;

    .caret {
      border-top-color: $gray-darker;
    }
  }
  &.is-active.is-reverse .caret {
    transform: rotate(180deg);
  }
}
