$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'base/defaults';

@import 'module/advertisement';
@import 'module/footer';
@import 'module/info-window';
@import 'module/pc-map';
@import 'module/rating';
@import 'module/table-sortable';

@import 'layout/location-detail';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
