@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize';
@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins';

$screen-sm: 600px;
$screen-md: 800px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.4;
}

@import 'menu/icons';
@import 'menu/locations';
@import 'menu/menu';
@import 'menu/search-form';
@import 'menu/site';

@import 'menu/state';
