@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Avenir Next', sans-serif;
}

.site {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.site-content {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;

  main {
    padding: 0 20px;
  }
}

// State
.is-menu {
  .site-menu {
    transform: translateX(0);
  }

  .site-guard {
    opacity: 1;
    visibility: visible;
  }

  .menu-toggler {
    background: none;

    span {
      background: #fff;
    }

    span:nth-of-type(1) {
      transform: rotate(45deg);
    }
    span:nth-of-type(2) {
      opacity: 0;
    }
    span:nth-of-type(3) {
      transform: rotate(-45deg);
    }
  }
}

/* ==========================================================================
   Menu
   ========================================================================== */

.site-menu {
  height: 100%;
  left: 0;
  padding: 0 56px 0 0;
  position: fixed;
  top: 0;
  transition: transform 125ms;
  transform: translateX(-100%);
  width: 100%;
  z-index: 2;
}
.site-menu-wrapper {
  background: #222;
  color: #ccc;
  height: 100%;
  position: relative;
  z-index: 2;

  ul {
    list-style: none;
    margin: 0;
    padding: 1.25em 0;
    text-align: center;

    a {
      color: inherit;
      border-left: .25em solid transparent;
      display: block;
      font-size: 150%;
      line-height: 1.1;
      padding: .5em .25em .5em 0;
      text-decoration: none;

      &:focus,
      &:hover,
      &:active {
        color: #fff;
      }
    }
    a.is-active {
      color: #fff;
      border-left-color: red;
    }
  }
}

// Search Form
.site-menu-search {
  display: none;
  position: relative;

  input {
    background: #222;
    border: none;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    height: 44px;
    line-height: 1;
    padding: 14px 0;
  }
  button {
    background: url(../images/close.png) no-repeat 50% 50%;
    background-size: 32px auto;
    border: none;
    font-size: 0;
    height: 44px;
    line-height: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
  }
}

// Footer
.site-menu-footer {
  position: relative;

  .search-toggler {
    background: url(../images/search.png) no-repeat 50% 50%;
    background-size: 32px auto;
    border: none;
    display: block;
    font-size: 0;
    height: 44px;
    line-height: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    width: 44px;
  }

  a {
    color: #fff;
    display: block;
    text-decoration: none;
    height: 44px;
    font-size: 14px;
    line-height: 1;
    padding: 15px 44px 15px 0;

    &:after {
      border-color: #999 transparent transparent;
      border-style: solid;
      border-width: 6px 5px 0;
      content: '';
      display: inline-block;
      margin-left: 4px;
      vertical-align: 1px;
    }
  }
}

.site-guard {
  background: rgba(0, 0, 0, .25);
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  transition: opacity 125ms;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.menu-toggler {
  background: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
  height: 44px;
  line-height: 0;
  position: fixed;
  right: 6px;
  top: 6px;
  width: 44px;
  z-index: 3;

  span {
    background: #333;
    border-radius: 1px;
    display: inline-block;
    height: 4px;
    left: 11px;
    position: absolute;
    transition: opacity 125ms, transform 125ms;
    top: 20px;
    width: 22px;

    &:nth-of-type(1) {
      transform: translateY(-7px);
    }
    &:nth-of-type(3) {
      transform: translateY(7px);
    }
  }
}

// State

.is-search {
  .site-menu-links {
    display: none;
  }
  .site-menu-search {
    display: block;
  }
}

.is-location {

}
