node_modules
dist
.tmp
.sass-cache
bower_components
test/bower_components
app/results.json

data/*.gem
data/*.rbc
data/.bundle
data/.config
data/.yardoc
data/InstalledFiles
data/_yardoc
data/coverage
data/doc/
data/lib/bundler/man
data/pkg
data/rdoc
data/tmp
data/*.bundle
data/*.so
data/*.o
data/*.a
data/mkmf.log
data/.env
data/index.html
data/results*
data/places*