/* ==========================================================================
   State
   ========================================================================== */

/* Menu
   ========================================================================== */

.is-menu {
  .menu {
    transform: translateX(0);
  }

  .site__menu-toggler {
    background: none;

    span {
      background: #fff;
    }

    span:nth-of-type(1) {
      transform: rotate(45deg);
    }
    span:nth-of-type(2) {
      opacity: 0;
    }
    span:nth-of-type(3) {
      transform: rotate(-45deg);
    }
  }
}

/* Search
   ========================================================================== */

.is-search {
  .locations,
  .menu__links {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity $transition-duration, transform $transition-duration, visibility 0 $transition-duration;
    visibility: hidden;

    @media (min-width: $screen-sm) {
      opacity: 1;
      transition: none;
      visibility: visible;
    }
  }
  @media (min-width: $screen-sm) {
    .locations {
      transform: translateX(14.25em);
    }
    .menu__links {
      transform: none;
    }
  }
  @media (min-width: $screen-md) {
    .locations {
      transform: none;
    }
  }

  .search-form {
    transform: none;
    visibility: visible;

    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  .menu__header__search-toggler {
    opacity: 1;
  }
}

/* Location
   ========================================================================== */

.is-location {
  .menu__links {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity $transition-duration, transform $transition-duration, visibility 0 $transition-duration;
    visibility: hidden;

    @media (min-width: $screen-sm) {
      opacity: 1;
      transform: none;
      transition: none;
      visibility: visible;
    }
  }
  .locations__toggler {
    .icon-geolocation {
      opacity: 1;
    }
    .edit {
      transform: translateX(48px);

      @media (min-width: $screen-lg) {
        transform: translateX(56px)
      }
    }
    .icon-cancel {
      transform: translateX(0);
    }
  }
  .locations__controls {
    max-height: 30em;
  }

  @media (min-width: $screen-sm) {
    .locations {
      display: block;
      transform: translateX(0);
    }
    .locations__toggler {
      background: rgba(12, 12, 12, .94);
      color: #fff;

      .icon-geolocation {
        &:before {
          border-color: #fff;
        }
        .bar-1,
        .bar-2 {
          &:before,
          &:after {
            background: #fff;
          }
        }
      }
      .locations__controls {
        max-height: none;
        transform: none;
      }
    }
  }
  @media (min-width: $screen-lg) {
    .locations__controls {
      display: block;
    }
  }
}
