/* ==========================================================================
   Locations
   ========================================================================== */

.locations {
  border-color: #666;
  border-style: solid;
  border-width: thin 0;
  position: relative;
  transition: opacity 125ms, transform 125ms;
  width: 100%;

  @media (min-width: $screen-sm) {
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(14.25em);
    transition: transform 125ms;
    width: 18em;
  }
  @media (min-width: $screen-md) {
    transform: none;
    transition: none;
  }
}

.locations__toggler {
  color: #fff;
  display: block;
  padding: 0 3em;
  position: relative;
  text-decoration: none;

  @media (min-width: $screen-sm) {
    color: #333;
    padding-left: 60px;
  }

  .icon-geolocation {
    position: absolute;
    left: .5em;
    top: 1em;

    &:before {
      border-color: #808080;
      transition: border-color 125ms;
    }
    .bar-1,
    .bar-2 {
      &:before,
      &:after {
        background: #808080;
        transition: background 125ms;
      }
    }

    @media (min-width: $screen-sm) {
      left: 1em;
    }
  }
  .current-location {
    display: inline-block;
    font-size: 14px;
    line-height: 60px;
    overflow: hidden;
    mask-image:
      linear-gradient(
        to left,
        rgba(0, 0, 0, 0) .5em,
        rgba(0, 0, 0, 1) 1.5em
      );
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
  }
  .edit {
    background: #888;
    border-radius: 1px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .125ex;
    line-height: 1;
    padding: .4em .6em;
    position: absolute;
    right: 1em;
    top: 2.1em;
    text-transform: uppercase;
    transition: transform 125ms;
    vertical-align: .25em;
  }
  .icon-cancel {
    position: absolute;
    right: 1.15rem;
    top: 1.2rem;
    transform: translateX(2.5rem);
    transition: transform 125ms;
  }
}

/* Controls
   ========================================================================== */

.locations__controls {
  max-height: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  transition: max-height 125ms;
  position: absolute;
  top: 60px;
  width: 100%;

  @media (min-width: $screen-sm) {
    background: rgba(12, 12, 12, .94);
    left: auto;
    max-height: none;
    opacity: 0;
    padding: 1em .5em 1em;
    right: 0;
    transition: opacity 125ms, visibility 0 125ms;
    visibility: hidden;
  }

  button {
    background: #888;
    border: none;
    border-radius: 1px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin: 2em 0 .7em;
    padding: .7em 1em;

    &:focus,
    &:hover,
    &:active {
      background: red;
      color: #fff;
    }

    @media (min-width: $screen-sm) {
      margin-top: 0;
    }
  }
  ul {
    @include clearfix;

    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    width: 50%;
    float: left;

    &:nth-of-type(odd) {
      clear: left;
    }
  }
  a {
    color: #ccc;
    display: block;

    font-weight: 700;
    padding: .7em 1em;
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
      color: #fff;

      span[class*='icon'] {
        opacity: .5;
      }
    }
  }
  span[class*='icon'] {
    opacity: .25;
    margin-bottom: .5rem;
  }
}
