doctype html
html(lang="en").no-js
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
    title Portland Cafés - #{name}
  body
    h1= name
    div !{address}
    a(href=url) URL &rarr;
