<div class="location-list">
  <div class="location-list__count">
    <strong>{{(currentPage - 1) * locationsPerPage + 1}}&ndash;{{currentPage * locationsPerPage}}</strong>
    of {{filtered.length}} cafés
  </div>

  <div class="location-list__filter">
    <button ng-click="hideFilter = !hideFilter" class="btn btn-default">Filter List</button>
    <div class="location-list__filter__controls" ng-class="{'is-active': hideFilter == false}">
      <div class="controls-1">
        <label>
          <input ng-model="hideClosed" type="checkbox" /> Hide closed cafés
        </label>
      </div>
      <div class="controls-2">
        <label for="location-list-range">
          <span class="controls__name">Only show within:</span>
          <select
            ng-model="distanceRange"
            id="location-list-range"
            class="form-control">
            <option value="1">1.0 miles</option>
            <option value="2">2.0 miles</option>
            <option value="5">5.0 miles</option>
            <option value="10">10.0 miles</option>
            <option value="0">No limit</option>
          </select>
        </label>
      </div>
      <div class="controls-3" ng-class="'is-rating-' + ratingFloor">
          <span class="controls__name">Limit Rating:</span>

          <input
            ng-model="ratingFloor"
            type="radio"
            value="1"
            id="location-list-rating-1" />
          <label for="location-list-rating-1"><span>1 star</span></label>

          <input
            ng-model="ratingFloor"
            type="radio"
            value="2"
            id="location-list-rating-2" />
          <label for="location-list-rating-2"><span>2 stars</span></label>

          <input
            ng-model="ratingFloor"
            type="radio"
            value="3"
            id="location-list-rating-3" />
          <label for="location-list-rating-3"><span>3 stars</span></label>

          <input
            ng-model="ratingFloor"
            type="radio"
            value="4"
            id="location-list-rating-4" />
          <label for="location-list-rating-4"><span>4 stars</span></label>

          <input
            ng-model="ratingFloor"
            type="radio"
            value="5"
            id="location-list-rating-5" />
          <label for="location-list-rating-5"><span>5 stars</span></label>

          <button ng-click="ratingFloor = null" title="Clear limit">&times;</button>
      </div>
      <div class="controls-4">
        <label for="location-list-order">
          <span class="controls__name">Order by:</span>
            <select
              ng-model="orderByField"
              id="location-list-order"
              class="form-control">
              <option value="name">Name</option>
              <option value="rating">Rating</option>
              <option value="todayHours.open">Opening time</option>
              <option value="todayHours.close">Closing time</option>
              <option value="distance">Distance</option>
            </select>
          </label>
          <button ng-click="reverseSort = !reverseSort" class="btn btn-default">
            <span class="glyphicon glyphicon-sort"></span>
            <span ng-if="reverseSort">Reverse Order</span>
            <span ng-if="!reverseSort">Normal Order</span>
          </button>
      </div>
    </div>
  </div><!-- .location-list__filter -->

  <div class="location-list__header">
    <span
      ng-class="{'is-active': orderByField == 'name', 'is-reverse': reverseSort}"
      ng-click="orderByField = 'name'; reverseSort = !reverseSort;"
      class="location-list__item__header">
      Café
      <span class="caret"></span>
    </span>
    <span
      ng-class="{'is-active': orderByField =='rating', 'is-reverse': reverseSort}"
      ng-click="orderByField = 'rating'; reverseSort = !reverseSort;"
      class="location-list__item__stars">
      Rating
      <span class="caret"></span>
    </span>
    <span
      ng-class="{'is-active': orderByField == 'todayHours.open', 'is-reverse': reverseSort}"
      ng-click="orderByField = 'todayHours.open'; reverseSort = !reverseSort;"
      class="location-list__item__open">
      Open
      <span class="caret"></span>
    </span>
    <span
      ng-class="{'is-active': orderByField == 'todayHours.close', 'is-reverse': reverseSort}"
      ng-click="orderByField = 'todayHours.close'; reverseSort = !reverseSort;"
      class="location-list__item__close">
      Close
      <span class="caret"></span>
    </span>
    <span
      ng-class="{'is-active': orderByField == 'distance', 'is-reverse': reverseSort}"
      ng-click="orderByField = 'distance'; reverseSort = !reverseSort;"
      class="location-list__item__distance">
      Distance
      <span class="caret"></span>
    </span>
  </div>

  <div class="location-list__loading-indicator" ng-show="isLoading">
    <span></span>Loading…
  </div>

  <div class="location-list__items">
    <div
      ng-repeat="location in filtered = ( locations | orderBy:orderByField:reverseSort | filter:searchText | filter:maybeHideClosed | filter:rangeFilter | filter:ratingFilter) | paginate:currentPage:locationsPerPage"
      class="location-list__item vcard">
        <a ng-href="#/location/{{location.id}}">
          <div class="location-list__item__header">
            <h2 class="location-list__item__name org">{{location.name}}</h2>
            <div class="location-list__item__address adr" ng-bind-html="location.address"></div>
          </div>
          <span class="location-list__item__stars">
            <span ng-bind-html="location.rating | toStars"></span>
          </span>
          <span class="location-list__item__open" ng-class="{'text-danger': !location.isOpen, 'text-warning': location.isClosingSoon}">{{location.todayHours.open | humanTime}}</span>
          <span class="location-list__item__close" ng-class="{'text-danger': !location.isOpen, 'text-warning': location.isClosingSoon}">{{location.todayHours.close | humanTime}}</span>
          <span class="location-list__item__distance">
            {{location.distance}}
            <span ng-show="location.distance">mi.</span>
          </span>
        </a>
    </div><!-- .location.vcard -->
  </div><!-- .locations__items -->

  <nav class="location-list__pagination">
    <ul class="pagination">
      <li ng-class="{'disabled': currentPage == 1}">
        <a ng-href="{{getPageLink(1)}}" title="First page" aria-label="First page"><span aria-hidden="true">&laquo;</span></a>
      </li>
      <li
        ng-repeat="page in getPages(currentPage, filtered.length)"
        ng-class="{'active': page == currentPage}">
        <a ng-href="{{getPageLink(page)}}">
          {{page}}
          <span ng-if="page == currentPage" class="sr-only">(current)</span>
        </a>
      </li>
      <li ng-class="{'disabled': currentPage + 1 == totalPages}">
        <a ng-href="{{getPageLink()}}" title="Last page" aria-label="Last page"><span aria-hidden="true">&raquo;</span></a>
      </li>
    </ul>
  </nav>
</div><!-- .location-list -->
