<div class="location-list">
  <form class="location-list__controls row">
    <div class="col-xs-12 col-sm-4 form-group">
      <label for="location-list-search">Search:</label>
      <input
        ng-model="searchText"
        type="search"
        id="location-list-search"
        class="form-control input-sm" />
    </div>
    <div class="col-xs-12 col-sm-6 text-right checkbox">
      <label>
        <input ng-model="hideClosed" type="checkbox" /> Hide closed cafés
      </label>
    </div>
    <div class="col-xs-12 col-sm-2 form-group">
      <label for="location-list-range">Only show within:</label>
      <select
        ng-model="distanceRange"
        id="location-list-range"
        class="form-control input-sm">
        <option value="1">1.0 miles</option>
        <option value="2">2.0 miles</option>
        <option value="5">5.0 miles</option>
        <option value="10">10.0 miles</option>
        <option value="0">No limit</option>
      </select>
    </div>
  </form>

  <div class="location-list__header">
    <span
      ng-class="{'is-active': orderByField == 'name', 'is-reverse': reverseSort}"
      ng-click="orderByField = 'name'; reverseSort = !reverseSort;"
      class="location-list__item__header">
      Café
      <span class="caret"></span>
    </span>
    <span
      ng-class="{'is-active': orderByField =='rating', 'is-reverse': reverseSort}"
      ng-click="orderByField = 'rating'; reverseSort = !reverseSort;"
      class="location-list__item__stars">
      Rating
      <span class="caret"></span>
    </span>
    <span
      ng-class="{'is-active': orderByField == 'todayHours.open', 'is-reverse': reverseSort}"
      ng-click="orderByField = 'todayHours.open'; reverseSort = !reverseSort;"
      class="location-list__item__open">
      Open
      <span class="caret"></span>
    </span>
    <span
      ng-class="{'is-active': orderByField == 'todayHours.close', 'is-reverse': reverseSort}"
      ng-click="orderByField = 'todayHours.close'; reverseSort = !reverseSort;"
      class="location-list__item__close">
      Close
      <span class="caret"></span>
    </span>
    <span
      ng-class="{'is-active': orderByField == 'distance', 'is-reverse': reverseSort}"
      ng-click="orderByField = 'distance'; reverseSort = !reverseSort;"
      class="location-list__item__distance">
      Distance
      <span class="caret"></span>
    </span>
  </div>
  <div class="location-list__items">
    <div
      ng-repeat="location in locations | orderBy:orderByField:reverseSort | filter:searchText | filter:maybeHideClosed | filter:rangeFilter"
      class="location-list__item vcard">
        <a ng-href="#/location/{{location.id}}">
          <div class="location-list__item__header">
            <h2 class="location-list__item__name org">{{location.name}}</h2>
            <div class="location-list__item__address adr" ng-bind-html="location.address"></div>
          </div>
          <span class="location-list__item__stars">
            <span ng-bind-html="location.rating | toStars"></span>
          </span>
          <span class="location-list__item__open" ng-class="{'text-danger': !location.isOpen, 'text-warning': location.isClosingSoon}">{{location.todayHours.open | humanTime}}</span>
          <span class="location-list__item__close" ng-class="{'text-danger': !location.isOpen, 'text-warning': location.isClosingSoon}">{{location.todayHours.close | humanTime}}</span>
          <span class="location-list__item__distance">
            {{location.distance}}
            <span ng-show="location.distance">mi.</span>
          </span>
        </a>
    </div><!-- .location.vcard -->
  </div><!-- .locations__items -->
</div><!-- .location-list -->
