<div class="row">
  <div class="col-xs-12 col-sm-10">
    <h1>Locations</h1>
    <table class="table table-striped table-responsive table-sortable">
      <thead>
        <tr>
          <th
            ng-class="{'is-active': orderByField == 'name', 'is-reverse': reverseSort}"
            ng-click="orderByField = 'name'; reverseSort = !reverseSort;">
            Name
            <span class="caret"></span>
          </th>
          <th>Address</th>
          <th
            ng-class="{'is-active': orderByField == 'hours.open', 'is-reverse': reverseSort}"
            ng-click="orderByField = 'hours.open'; reverseSort = !reverseSort;">
            Open
            <span class="caret"></span>
          </th>
          <th
            ng-class="{'is-active': orderByField == 'hours.close', 'is-reverse': reverseSort}"
            ng-click="orderByField = 'hours.close'; reverseSort = !reverseSort;">
            Closed
            <span class="caret"></span>
          </th>
          <th
            ng-class="{'is-active': orderByField == 'distance', 'is-reverse': reverseSort}"
            ng-click="orderByField = 'distance'; reverseSort = !reverseSort;">
            Distance
            <span class="caret"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="location in locations | orderBy:orderByField:reverseSort">
          <td>
            <strong><a ng-href="#/location/{{location.id}}">{{location.name}}</a></strong>
          </td>
          <td>{{location.address}}</td>
          <td>{{location.hours.open | humanTime}}</td>
          <td>{{location.hours.close | humanTime}}</td>
          <td>{{location.distance | toMiles}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 col-sm-2">
    <div class="advertisement">
      <h1>Ad</h1>
    </div>
  </div>
</div>
