<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h1>{{location.name}}</h1>
    <div ng-bind-html="location.address"></div>

    <div
      ng-if="!isOpen"
      class="alert alert-danger"
      role="alert">
      <strong>Danger!</strong> This café is closed.
    </div>
    <div
      ng-if="isClosingSoon"
      class="alert alert-warning"
      role="alert">
      <strong>Warning!</strong> This café closes soon.
    </div>

    <h3><small>Open:</small> {{location.todayHours.open | humanTime}}</h3>
    <h3><small>Close:</small> {{location.todayHours.close | humanTime}}</h3>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3>Reviews</h3>

      </div>
      <div class="col-xs-12 col-sm-6">
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <pc-map
      center="{{location.coords.latitude}}, {{location.coords.longitude}}"
      markers="{{location.coords.latitude}}, {{location.coords.longitude}}"
      zoom="14" />
  </div>
  <div class="col-xs-12 col-sm-2">
    <div class="advertisement">
      <h1>Ad</h1>
    </div>
  </div>
</div>
