<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h1>{{location.name}}</h1>
    <div ng-bind-html="location.address"></div>

    <div
      ng-if="!isOpen"
      class="alert alert-danger"
      role="alert">
      <strong>Danger!</strong> This café is closed.
    </div>
    <div
      ng-if="isClosingSoon"
      class="alert alert-warning"
      role="alert">
      <strong>Warning!</strong> This café closes soon.
    </div>

    <h3><small>Open:</small> {{location.todayHours.open | humanTime}}</h3>
    <h3><small>Close:</small> {{location.todayHours.close | humanTime}}</h3>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3>Reviews</h3>
        <div ng-repeat="review in location.reviews">
          <h4><a ng-href="{{review.author_url}}">{{review.author_name}}</a></h4>
          <div>{{review.text}}</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Hours</h3>
        <ol>
          <li>
            <strong>Sunday</strong>
            {{location.hours[0].open.time | humanTime}} &ndash;
            {{location.hours[0].close.time | humanTime}}
          </li>
          <li>
            <strong>Monday</strong>
            {{location.hours[1].open.time | humanTime}} &ndash;
            {{location.hours[1].close.time | humanTime}}
          </li>
          <li>
            <strong>Tuesday</strong>
            {{location.hours[2].open.time | humanTime}} &ndash;
            {{location.hours[2].close.time | humanTime}}
          </li>
          <li>
            <strong>Wednesday</strong>
            {{location.hours[3].open.time | humanTime}} &ndash;
            {{location.hours[3].close.time | humanTime}}
          </li>
          <li>
            <strong>Thursday</strong>
            {{location.hours[4].open.time | humanTime}} &ndash;
            {{location.hours[4].close.time | humanTime}}
          </li>
          <li>
            <strong>Friday</strong>
            {{location.hours[5].open.time | humanTime}} &ndash;
            {{location.hours[5].close.time | humanTime}}
          </li>
          <li>
            <strong>Saturday</strong>
            {{location.hours[6].open.time | humanTime}} &ndash;
            {{location.hours[6].close.time | humanTime}}
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <pc-map
      center="{{location.coords.latitude}}, {{location.coords.longitude}}"
      markers="{{location.coords.latitude}}, {{location.coords.longitude}}"
      zoom="14" />
  </div>
</div><!-- .row -->
