<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="A list of Portland, Oregon’s cafés and coffee shops.">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Portland Cafés</title>
    <meta name="fragment" content="!">
    <meta name="google-site-verification" content="gWNkMprIOZGPW5mG_lxZLA328rqZxSviEzulk0Ta9uI" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css /styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css /styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

    <!-- build:js /scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <base href="/">
  </head>
  <body ng-app="portlandcafes">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="site">
      <div class="site__mobile-header">
        <h1><a href="/" rel="home">Portland Cafés</a></h1>
      </div>

      <header ng-controller="MenuCtrl" class="menu" role="banner">
        <div class="menu__wrapper">
          <div class="menu__header">
            <a href="/" rel="home">Portland Cafés</a>
            <!--<a href="/about/" class="beta-link">Beta</a>-->

            <button class="menu__header__search-toggler" pc-toggle="search">
              <span class="icon-search" aria-hidden="true"></span>
              <span class="sr-only">Search</span>
            </button>
            <button class="menu__header__location-toggler" pc-toggle="location">
              <span class="icon-geolocation" aria-hidden="true">
                <span class="bar-1"></span>
                <span class="bar-2"></span>
              </span>
              <span class="sr-only">Location</span>
            </button>
          </div><!-- .menu__header -->

          <div class="locations">
            <a
              href="#"
              title="Edit current location"
              class="locations__toggler"
              pc-toggle="location">
              <span class="icon-geolocation" aria-hidden="true">
                <span class="bar-1"></span>
                <span class="bar-2"></span>
              </span>
              <span class="current-location">
                <span ng-if="!address" ng-cloak="">Set Location&hellip;</span>
                <span ng-if="address" ng-cloak="">{{address}}</span>
              </span>
              <span class="edit">Edit</span>
              <span class="icon-cancel"></span>
            </a>
            <div class="locations__controls">
              <button ng-click="setPosition()">
                <span ng-if="!address">Set Location</span>
                <span ng-if="address">Refresh Location</span>
              </button>
              <ul>
                <li>
                  <a ng-click="setPosition('downtown')" href="#">
                    <span class="icon-downtown"></span> Downtown
                  </a>
                </li>
                <li>
                  <a ng-click="setPosition('north')" href="#">
                    <span class="icon-north"></span> North
                  </a>
                </li>
                <li>
                  <a ng-click="setPosition('northeast')" href="#">
                    <span class="icon-northeast"></span> Northeast
                  </a>
                </li>
                <li>
                  <a ng-click="setPosition('northwest')" href="#">
                    <span class="icon-northwest"></span> Northwest
                  </a>
                </li>
                <li>
                  <a ng-click="setPosition('southeast')" href="#">
                    <span class="icon-southeast"></span> Southeast
                  </a>
                </li>
                <li>
                  <a ng-click="setPosition('southwest')" href="#">
                    <span class="icon-southwest"></span> Southwest
                  </a>
                </li>
              </ul>
            </div>
          </div><!-- .locations -->
          <nav class="menu__links" role="navigation">
            <ul>
              <li>
                <a href="/" ng-class="{'is-active': isActive('/location')}">
                  <span class="icon-locations" aria-hidden="true">
                    <span class="bar-1"></span>
                    <span class="bar-2"></span>
                  </span>
                  Locations
                </a>
              </li>
              <li>
                <a href="/map" ng-class="{'is-active': isActive('/map')}">
                  <span class="icon-map" aria-hidden="true">
                    <span class="area-1"></span>
                  </span>
                  Map
                </a>
              </li>
              <li>
                <a href="/regions" ng-class="{'is-active': isActive('/regions')}">
                  <span class="icon-regions" aria-hidden="true">
                    <span class="dots-1"></span>
                    <span class="dots-2"></span>
                  </span>
                  Regions
                </a>
              </li>
              <li>
                <a href="/streets" ng-class="{'is-active': isActive('/streets')}">
                  <span class="icon-streets" aria-hidden="true">
                    <span class="bar-1"></span>
                  </span>
                  Streets
                </a>
              </li>
            </ul>
          </nav><!-- .menu__links -->

          <div ng-controller="SearchCtrl" class="search-form">
            <form role="search">
              <label class="sr-only">Search:</label>
              <input ng-model="searchText" type="search" placeholder="Search…">
              <button class="search-toggler" type="reset" pc-toggle="search">
                <span class="icon-cancel"></span>
                <span class="sr-only">Cancel</span>
              </button>
            </form>
            <div ng-cloak="" ng-show="results.length > 0" class="search-form__results">
              <div ng-repeat="location in results" class="vcard">
                <a ng-href="/location/{{location.id}}">
                  <h4 class="org">{{location.name}}</h4>
                  <div class="adr" ng-bind-html="location.address"></div>
                </a>
              </div>
            </div><!-- .search-form__results -->
            <div ng-cloak="" ng-show="message.length > 0" class="search-form__message">
              {{message}}
            </div><!-- .search-form__message -->
          </div><!-- .search-form -->
        </div><!-- .menu__wrapper -->
      </header><!-- .menu -->

      <div class="site__content">
        <main role="main" class="container-fluid">
          <div class="row">

            <div ng-view="" class="col-xs-12 col-sm-10"></div>

            <aside class="col-xs-12 col-sm-2">
            </aside>
          </div><!-- .row -->
        </main>

        <footer role="contentinfo">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <ul class="nav nav-pills">
                  <li role="presentation"><a href="/about/">About</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-6 text-right">
                <small>&copy; 2015, <a href="http://www.onedrillion.com/">One Drillion</a>  &amp; <a href="http://swashcap.com">Swash Cap</a>. All rights reserved.</small>
              </div>
            </div>
          </div><!-- .container-fluid -->
        </footer>
      </div><!-- .site__content -->

      <a class="site__guard" pc-toggle=""></a>

      <a class="site__menu-toggler" pc-toggle="menu">
        <span class="bar-1"></span>
        <span class="bar-2"></span>
        <span class="bar-3"></span>
        <span class="sr-only">Menu</span>
      </a>
    </div><!-- .site -->

    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-57884785-1');ga('require','linkid','linkid.js');ga('send','pageview');
    </script>

    <script>
      // Set Prerender.io readiness
      window.prerenderReady = false;

      (function () {
        var t = setTimeout(function () {
          window.prerenderReady = true;
          clearTimeout(t);
        }, 5000);
      })();
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/idbwrapper/idbstore.js"></script>
    <script src="../bower_components/Geolib/dist/geolib.js"></script>
    <script src="../bower_components/fastclick/lib/fastclick.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyA4Wd2HKrDmdh_2HzqPqqa3gsFlqYnVkdo"></script>

    <!-- build:js scripts/main.js -->
    <!-- inject:js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/search/search.controller.js"></script>
    <script src="scripts/routes.js"></script>
    <script src="scripts/regions/regions.controller.js"></script>
    <script src="scripts/region-street/region-street.controller.js"></script>
    <script src="scripts/region-single/region-single.controller.js"></script>
    <script src="scripts/menu/menu.controller.js"></script>
    <script src="scripts/map/map.controller.js"></script>
    <script src="scripts/location-list/location-list.controller.js"></script>
    <script src="scripts/location-detail/location-detail.controller.js"></script>
    <script src="scripts/components/storage/local-storage.js"></script>
    <script src="scripts/components/storage/indexed-db.js"></script>
    <script src="scripts/components/regions.js"></script>
    <script src="scripts/components/preferences.js"></script>
    <script src="scripts/components/position.js"></script>
    <script src="scripts/components/pcmap.js"></script>
    <script src="scripts/components/pc-toggle.js"></script>
    <script src="scripts/components/misc.js"></script>
    <script src="scripts/components/locations.js"></script>
    <script src="scripts/components/hours.js"></script>
    <script src="scripts/components/geolib.js"></script>
    <script src="scripts/about/about.controller.js"></script>
    <!-- endinject -->

    <!-- inject:templates -->
    <!-- endinject -->
    <!-- endbuild -->
</body>
</html>
