<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="A list of Portland, Oregon’s cafés and coffee shops.">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Portland Cafés</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="portlandcafes">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="container-fluid" role="banner">
      <nav
        ng-controller="NavigationCtrl"
        class="navbar navbar-default"
        role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/" rel="home">Portland Cafés</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active: isActive('/location')}">
              <a href="#/">
                <span class="glyphicon glyphicon-th-list"></span>
                All Locations
              </a>
            </li>
            <li ng-class="{active: isActive('/regions')}">
              <a href="#/regions">
                <span class="glyphicon glyphicon-th-large"></span>
                Regions
              </a>
            </li>
            <li ng-class="{active: isActive('/map')}">
              <a href="#/map">
                <span class="glyphicon glyphicon-map-marker"></span>
                Map
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{'open': toggleDropdown}" class="dropdown">
              <a
                ng-click="toggleDropdown = !toggleDropdown"
                class="dropdown-toggle"
                role="button"
                aria-expanded="false">
                <span ng-if="!address">Set Location&hellip;</span>
                <span ng-if="address">{{address}}</span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a ng-click="setPosition()">
                    <span ng-if="!address">
                      <span class="glyphicon glyphicon-screenshot"></span>
                      Use Device Location
                    </span>
                    <span ng-if="address">
                      <span class="glyphicon glyphicon-refresh"></span>
                      Refresh Location
                    </span>
                  </a>
                </li>
                <li role="presentation" class="dropdown-header">Presets</li>
                <li><a ng-click="setPosition('north')">North</a></li>
                <li><a ng-click="setPosition('northwest')">Northwest</a></li>
                <li><a ng-click="setPosition('northeast')">Northeast</a></li>
                <li><a ng-click="setPosition('downtown')">Downtown</a></li>
                <li><a ng-click="setPosition('southwest')">Southwest</a></li>
                <li><a ng-click="setPosition('southeast')">Southeast</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header><!-- .container-fluid -->

    <main role="main" class="container-fluid">
      <div class="row">

        <div ng-view="" class="col-xs-12 col-sm-10"></div>

        <aside class="col-xs-12 col-sm-2">
          <div class="advertisement">
            <h1>Ad</h1>
          </div>
        </aside>
      </div><!-- .row -->
    </main>

    <footer role="contentinfo">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <ul class="nav nav-pills">
              <li role="presentation"><a href="/about/">About</a></li>
              <li role="presentation"><a href="/contact/">Contact</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 text-right">
            <small>&copy; 2015, <a href="http://www.onedrillion.com/">One Drillion</a>  &amp; <a href="http://swashcap.com">Swash Cap</a>. All rights reserved.</small>
          </div>
        </div>
      </div><!-- .container-fluid -->
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/geolib/dist/geolib.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyA4Wd2HKrDmdh_2HzqPqqa3gsFlqYnVkdo"></script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/routes.js"></script>
        <script src="scripts/components/geolib.js"></script>
        <script src="scripts/components/hours.js"></script>
        <script src="scripts/components/locations.js"></script>
        <script src="scripts/components/misc.js"></script>
        <script src="scripts/components/pcmap.js"></script>
        <script src="scripts/components/position.js"></script>
        <script src="scripts/components/preferences.js"></script>
        <script src="scripts/components/regions.js"></script>
        <script src="scripts/components/storage.js"></script>
        <script src="scripts/location-detail/location-detail.controller.js"></script>
        <script src="scripts/location-list/location-list.controller.js"></script>
        <script src="scripts/map/map.controller.js"></script>
        <script src="scripts/navigation/navigation.controller.js"></script>
        <script src="scripts/regions/regions.controller.js"></script>
        <!-- endbuild -->
</body>
</html>
