<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h1>By Region</h1>
    <div
      ng-repeat="region in regions"
      ng-hide="region.locations.length == 0">
      <h3>{{region.name}}</h3>
      <ul class="list-group">
        <li ng-repeat="location in region.locations" class="list-group-item">
          <a ng-href="#/location/{{location.id}}">{{location.name}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h1>By Major Street</h1>
    <div
      ng-repeat="street in streets"
      ng-hide="street.locations.length == 0">
      <h3>{{street.name}}</h3>
      <ul class="list-group">
        <li ng-repeat="location in street.locations" class="list-group-item">
          <a ng-href="#/location/{{location.id}}">{{location.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div><!-- .row -->
