<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h1>By Region</h1>
    <div
      ng-repeat="region in regions"
      ng-hide="region.locations.length == 0">
      <h3>{{region.name}}</h3>
      <ul class="locations-list list-group">
        <li ng-repeat="location in region.locations | orderBy:reverseSort:'rating' | limitTo:5 " class="list-group-item">
          <a ng-href="/location/{{location.id}}">
            {{location.name}}
            <span ng-bind-html="location.rating | toStars"></span>
          </a>
        </li>
      </ul>
      <a ng-href="/regions/{{region.slug}}" class="btn btn-default btn-block btn-sm" ng-show="region.locations.length > 5">See all {{region.name}} cafés</a>
    </div>
  </div>
</div><!-- .row -->
