/* ==========================================================================
   Menu
   ========================================================================== */

.menu {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transition: transform $transition-duration;
  transform: translateX(100%);
  width: 100%;
  z-index: 2;

  @media (min-width: 320px) {
    width: 85%;
  }
  @media (min-width: $screen-sm) {
    height: auto;
    position: relative;
    transform: none;
    transition: none;
    width: 100%;
  }
}

.menu__wrapper {
  background: #222;
  background: rgba(12, 12, 12, .94);
  color: #ccc;
  height: 100%;
  position: relative;
  z-index: 2;

  @media (min-width: $screen-sm) {
    background: $gray-lighter;
    color: $gray-light;
    margin-bottom: $grid-gutter-width;
  }
}

.menu__header {
  @include clearfix;

  padding: 0 50px;
  position: relative;
  text-align: center;

  @media (min-width: $screen-sm) {
    padding: 0;
    position: static;
  }

  a[rel='home'] {
    color: $gray-light;
    display: block;
    font-size: 16px;
    line-height: 60px;
    font-weight: 700;
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
      color: #fff;
    }

    @media (min-width: $screen-sm) {
      color: inherit;
      left: 0;
      padding: 0 1em;
      position: absolute;
      top: 0;

      &:focus,
      &:hover,
      &:active {
        color: $gray-darker
      }
    }
    @media (min-width: $screen-md) {
      line-height: 80px;
    }
  }
}

.menu__header__search-toggler {
  background: none;
  border: 0;
  font-size: 0;
  left: 0;
  line-height: 0;
  opacity: .5;
  outline: none;
  padding: 17px 8px 12px;
  position: absolute;
  top: 0;
  transition: opacity $transition-duration;
  vertical-align: top;
  width: 44px;

  @media (min-width: $screen-sm) {
    height: 60px;
    left: auto;
    right: 60px;
    opacity: .25;
    padding: 0 0 3px;
    width: 60px;

    &:focus,
    &:hover {
      opacity: .5;
    }
  }
  @media (min-width: $screen-md) {
    height: 80px;
  }
  @media (min-width: $screen-lg) {
    right: 288px;
  }

  .icon-search {
    &:before {
      border-color: #fff;
      transition: border-color $transition-duration;

      @media (min-width: $screen-sm) {
        border-color: #000;
      }
    }
    &:after {
      background: #fff;
      transition: background $transition-duration;

      @media (min-width: $screen-sm) {
        background: #000;
      }
    }
  }
}

.menu__header__location-toggler {
  display: none;

  .icon-geolocation {
    &:before {
      border-color: #000;
    }
    .bar-1,
    .bar-2 {
      &:before,
      &:after {
        background: #000;
      }
    }
  }

  @media (min-width: $screen-sm) {
    background: none;
    border: none;
    color: transparent;
    display: block;
    font-size: 0;
    height: 60px;
    line-height: 0;
    opacity: .25;
    outline: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    width: 60px;

    &:focus,
    &:hover {
      opacity: .5;
    }
  }
  @media (min-width: $screen-lg) {
    display: none;
  }
}

/* Links
   ========================================================================== */

.menu__links {
  transition: opacity $transition-duration, transform $transition-duration;

  @media (min-width: $screen-sm) {
    transition: none;
    padding: 0 7.5em 0 9em;
  }
  @media (min-width: $screen-lg) {
    padding-right: 21em;
  }

  ul {
    @include clearfix;

    list-style: none;
    margin: 0;
    padding: .625em 0 0;
    text-align: center;

    @media (min-width: $screen-sm) {
      padding-top: 0;
      font-size: 0;
    }
  }
  li {
    float: left;
    width: 50%;

    &:nth-of-type(odd) {
      clear: left;
    }

    @media (min-width: $screen-sm) {
      float: none;
      display: inline-block;
      width: auto;
    }
  }
  a {
    color: #ccc;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1;
    padding: 1.25em 0;
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
      color: #fff;

      span[class*='icon'] {
        opacity: .5;
      }
    }
    span[class*='icon'] {
      margin-bottom: .75em;
      opacity: .25;

      @media (min-width: $screen-sm) {
        display: none;
      }
    }

    @media (min-width: $screen-sm) {
      color: inherit;
      display: inline-block;
      line-height: 60px;
      padding: 0 .75em;

      &:focus,
      &:hover,
      &:active {
        color: $gray-darker;
      }
    }
    @media (min-width: 650px) {
      padding: 0 1em;
    }
    @media (min-width: $screen-md) {
      line-height: 80px;
    }
  }

  /** 'Active' state */
  .is-active {
    color: #fff;

    &,
    &:focus,
    &:hover,
    &:active {
      span[class*='icon'] {
        opacity: 1;
      }
    }

    @media (min-width: $screen-sm) {
      color: $gray-darker
    }
  }
}
