/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar-brand {
  font-weight: 400;
  margin: 0;

  a {
    color: $navbar-default-brand-color;

    &:focus,
    &:hover {
      color: $navbar-default-brand-hover-color;
      text-decoration: none;
    }
  }
  .beta-link {
    background: darken($gray-lighter, 8%);
    color: $gray-light;
    border-radius: $border-radius-small;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: .15ex;
    line-height: 1;
    padding: 2px 4px;
    text-transform: uppercase;
    vertical-align: top;
  }
}
