/* ==========================================================================
   PC Map
   ========================================================================== */

pc-map {
  display: block;
  height: 300px;
  width: 100%;
}
