/* ==========================================================================
   Search Form
   ========================================================================== */

.search-form {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 60px;
  transform: translateY(-120px);
  transition: transform $transition-duration;
  visibility: hidden;
  width: 100%;
  z-index: 100;

  @media (min-width: $screen-sm) {
    background: rgba(12, 12, 12, .94);
    bottom: auto;
    display: none;
    height: 32em;
    left: auto;
    right: 0;
    top: 0;
    width: 288px;
  }

  form {
    position: relative;
    z-index: 2;
  }
  label {
    display: none;
  }
  input {
    -webkit-appearance: none;
    background: #333;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 60px;
    outline: none;
    padding: 1.125em 44px 1.125em 1em;
    width: 100%;

    @media (min-width: $screen-md) {
      height: 80px;
    }
  }
  button {
    background: none;
    border: none;
    font-size: 0;
    height: 60px;
    line-height: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;

    @media (min-width: $screen-md) {
      height: 80px;
    }
  }
}

/* Results
   ========================================================================== */

.search-form__results {
  bottom: 0;
  left: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 1;

  @media (min-width: $screen-md) {
    top: 80px;
  }

  a {
    border-bottom: thin solid #666;
    color: #fff;
    display: block;
    padding: .6em 1.125em;
    text-decoration: none;

    &:focus,
    &:hover {
      background: #fff;
      color: #000;
    }
  }
  .name {
    display: inline-block;
    float: left;
  }
  .distance {
    float: right;
    font-size: 87.5%;
    display: inline-block;
    opacity: .6;
    padding-top: .15em;
  }
  .street {
    clear: both;
    display: block;
    font-size: 87.5%;
    mask-image:
      linear-gradient(
        to left,
        rgba(0, 0, 0, 0) .5em,
        rgba(0, 0, 0, 1) 1.5em
      );
    opacity: .333;
    padding: .15em 0 0;
    width: 100%;
    white-space: nowrap;
  }
  .hours {

  }
}

/* Message
   ========================================================================== */

.search-form__message {
  color: $gray-lighter;
  padding: .6em 1.125em;
  text-align: center;
}
