/* ==========================================================================
   Site
   ========================================================================== */

.site {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (min-width: $screen-sm) {
    height: auto;
    position: static;
    overflow: visible;
    width: auto;
  }
}

.site__mobile-header {
  background: $gray-lighter;
  margin-bottom: 1em;
  padding: 1.25em ($grid-gutter-width / 2);

  @media (min-width: $screen-sm) {
    display: none;
  }

  h1 {
    font-size: 16px;
    line-height: $line-height-base;
    margin: 0;
  }
  a {
    color: $gray;

    &:focus,
    &:hover,
    &:active {
      color: $gray-darker;
      text-decoration: none;
    }
  }
}

.site__content {

}

/* Guard
   ========================================================================== */

.site__guard {
  background: rgba(0, 0, 0, .25);
  cursor: default;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  transition: opacity $transition-duration, visibility 0 $transition-duration;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

/**
 * Guard state.
 *
 * @todo  Figure out a better location for these rules
 */
.is-menu .site__guard {
  opacity: 1;
  transition: opacity $transition-duration;
  visibility: visible;
}
@media (min-width: $screen-sm) {
  .is-menu .site__guard {
    visibility: hidden;
  }
  .is-search,
  .is-location {
    .site__guard {
      opacity: 1;
      transition: opacity $transition-duration;
      visibility: visible;
    }
  }
}

/* Menu Toggler
   ========================================================================== */

.site__menu-toggler {
  background: rgba(255, 255, 255, .8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
  height: 44px;
  line-height: 0;
  position: fixed;
  right: 6px;
  top: 6px;
  width: 44px;
  z-index: 3;

  @media (min-width: $screen-sm) {
    display: none;
  }

  span {
    background: #333;
    border-radius: 1px;
    display: inline-block;
    height: 4px;
    left: 11px;
    position: absolute;
    transition: opacity $transition-duration, transform $transition-duration;
    top: 20px;
    width: 22px;

    &:nth-of-type(1) {
      transform: translateY(-7px);
    }
    &:nth-of-type(3) {
      transform: translateY(7px);
    }
  }
}
